.gridBox {
    /* background-color: blue; */
    margin-top: 0;
}

@media (min-width: 360px) and (max-width: 740px) {
    .gridBox {
        padding-right: 12px;
    }
}

@media (min-width: 540px) and (max-width: 720px) {
    .gridBox {
        padding-right: 50px;
        margin-left: 35px;
    }
}